@font-face {
    font-family: 'Texta';
    src: local('Texta Black'), local('Texta-Black'), url('../fonts/texta_black/Texta-Black-webfont.ttf');
    font-weight: 900
}

body {
  font-family: 'Texta'
}
