@font-face {
    font-family: 'Texta';
    src: local('Texta Heavy'), local('Texta-Heavy'), url('../fonts/texta_heavy/Texta-Heavy-webfont.ttf');
    font-style: 'Heavy'
}

body {
  font-family: 'Texta'
}
