* {
  box-sizing: border-box;
}
body {
  background-color: rgb(241,240,236);
  overflow: hidden;
  -webkit-user-select: none;  /* Chrome 49+ */
  -moz-user-select: none;     /* Firefox 43+ */
  -ms-user-select: none;      /* No support yet */
  user-select: none;         /* Likely future */
  cursor: default;
}
main {
  margin: 0px auto;
  width: 80vw;
  height: 100vh;
}
header {
  padding: 80px;
}
button {
  cursor: pointer;
  border:none;
  border-bottom: 0.25vw solid black;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  -webkit-transition: all 75ms ease-out,left 75ms ease-out;
  transition: all 75ms ease-out,left 75ms ease-out;
}
button:hover {
  transform: translateY(3px);
}

button:active {
  transform: translateY(6px);
}
/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}
section {
  background-color: white;
  height: 100%;
  padding: 80px;
  display: grid;
  grid-template-columns: auto 160px;
}
p {
  margin-top: 0px;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0,0,0,0.99);
}

::selection {
    color: white;
    background: rgba(0,0,0,0.99);
}
#sticker {
  background-color: white;
  padding: 20px;
  box-sizing: content-box;
  transform: translate(-20px, -20px);
}
#toprow {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 160px));
  margin: 0px;
}
#toprow span {
  /* margin-left: 80px; */
}
#countrycode {
  text-transform: uppercase;
}
#notes {
  margin-top: 80px;
}
#result{
  cursor: context-menu;
  width: 100%;
  padding-right: 40px;
  font-size: 2.5vw;
  font-weight: 700;
  margin-top: 20px;
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
  /* text-transform: lowercase; */
}
/* #result:first-letter{
  text-transform: capitalize;
} */
*:focus {
    outline: 0;
}
textarea {
    border: none;
    padding: 0px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
#qrcode {
  width:160px;
  height:160px;
}

.highlightMenu {
  display: inline-block;
  z-index: 400;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 75ms ease-out,left 75ms ease-out;
  transition: all 75ms ease-out,left 75ms ease-out;
  transform: translateY(0px);
  /* left margin + left padding + half of (width - 2*padding - qr) - half of tooltipwidth */
  left: calc(10vw + 80px + (80vw - 320px)/2 - 200px);
  top: 410px;
  visibility: hidden;
}

.highlightMenuActive {
  opacity: 1;
  transform: translateY(-10px);
  visibility: visible;
}
.highlightMenu-inner {
  position: relative;
  background-color: black;
  color: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
}
.svgIcon {
fill: #fff;
}
.svgIcon-use {
  margin-top: 5px;
}
.highlightMenu-arrowClip {
  position: absolute;
  bottom: -10px;
  left: 50%;
  clip: rect(10px 20px 20px 0);
  margin-left: -10px;
}
.highlightMenu-inner span, a {
  vertical-align: middle;
  display:inline-block
}
.highlightMenu-arrow {
display: block;
width: 20px;
height: 20px;
background-color: black;
-webkit-transform: rotate(45deg) scale(.5);
transform: rotate(45deg) scale(.5);
}
a {
  cursor: pointer;
}
