body {
  background-color: rgb(241,240,236);
}
main {
  background-color: white;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0,0,0,0.99);
}

::selection {
    color: white;
    background: rgba(0,0,0,0.99);
}

#result{
  font-size: 2.5vw;
  font-style: 'Heavy';
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
  border-bottom: 0.25vw solid black;
  /* text-transform: lowercase; */
}
#result:first-letter{
  /* text-transform: capitalize; */
}
