body {
  background-color: rgb(241,240,236);
  overflow: hidden;
  -webkit-user-select: none;  /* Chrome 49+ */
  -moz-user-select: none;     /* Firefox 43+ */
  -ms-user-select: none;      /* No support yet */
  user-select: none;         /* Likely future */
  cursor: default;
}
main {
  margin: 0px auto;
  width: 80vw;
  height: 100vh;
}
header {
  padding: 80px;
}
button {
  cursor: pointer;
  border:none;
  border-bottom: 0.25vw solid black;
  margin: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: 2.5vw;
  font-weight: 700;
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button:hover {
  transform: translateY(5px);
}

button:active {
  transform: translateY(10px);
}
/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}
section {
  background-color: white;
  height: 100%;
  padding: 80px;
}
p {
  margin-top: 0px;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(0,0,0,0.99);
}

::selection {
    color: white;
    background: rgba(0,0,0,0.99);
}
#toprow {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px;
  margin: 0px;
}
#toprow span {
  /* margin-left: 80px; */
}
#countrycode {
  text-transform: uppercase;
}
#notes {
  margin-top: 80px;
}
#result{
  cursor: context-menu;
  font-size: 2.5vw;
  font-weight: 700;
  margin-top: 20px;
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
  /* text-transform: lowercase; */
}
#result:first-letter{
  /* text-transform: capitalize; */
}
